@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Pacifico:regular);
html, * {
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F5F7FA;
  font-family: "Inter", sans-serif !important;
}

.container {
  width: 80%;
}

.profile-pic {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-pic:hover {
  cursor: pointer;
}

.profile-pic img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 130%;
  width: 130%;
}

.sidebar {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.banner {
  margin-top: 100px;
  width: 100%;
}

.new-article {
  background-color: #F5F7FA;
  text-align: start;
  color: grey;
  border: 0.3px solid lightgrey;
}

.new-article:hover {
  background-color: white;
  color: grey;
}

.author-pic {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  border-collapse: separate;
  border-spacing: 4px;
}

.author-pic:hover {
  cursor: pointer;
}

.author-pic img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.author {
  color: #474242;
}

.author .name {
  line-height: 1rem;
}

.author .post-date {
  font-size: 0.8rem;
}

.pic {
  border: 2px solid orange;
  border-radius: 50%;
}

.preview, .preview p > p {
  font-size: 0.8rem;
}

.post-footer {
  color: grey;
}

.header {
  width: 100%;
}

.form #title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.form #submit {
  color: #0C6EFD;
  border: 1px solid #0C6EFD;
}

.form #submit:hover {
  background-color: #0C6EFD;
  color: white;
}

.article_btn {
  text-align: left;
  border: none;
  background-color: white;
  width: 100%;
}

.post-wrapper {
  background-color: white;
}

.profile-content {
  margin-top: 15vh;
  background-color: white;
  border-radius: 1rem;
  padding: 4rem;
}

.profile-content .profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 3rem;
}

.profile-content .profile-header > div {
  margin-right: 1rem;
}

.profile-content h4 {
  color: #0C6EFD;
}

.profile-content a {
  text-decoration: none;
  color: grey;
}

#dp img {
  height: 12rem;
  width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

.prof-post-ftr {
  font-size: 0.8rem;
}

.prof-btn {
  border: none;
  background-color: white;
  text-align: left;
}

.likes a, .comments a {
  color: grey !important;
}

.likes a:hover, .comments a:hover {
  color: #0C6EFD;
}

.actions button {
  border: none;
  color: #0C6EFD;
  border-radius: 50%;
  padding: 0.2rem;
  height: 2.2rem;
  width: 2.2rem;
  background-color: #0c6cfd17;
}

nav {
  height: 80px;
  background-color: #0C6EFD;
}

nav .brand {
  font-family: 'Pacifico', cursive;
}

nav .brand a {
  color: white;
  font-size: 2rem;
}

nav button {
  background-color: white !important;
  border: none;
  color: #0C6EFD !important;
  font-weight: 300 !important;
  font-size: 0.8rem;
}

.sign-form, .article-wrapper, .new-wrapper {
  margin-top: 100px !important;
}

.del a, .del i {
  color: grey;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.del a:hover, .del i:hover {
  color: red;
}
/*# sourceMappingURL=style.css.map */