<div class="col-10 banner position-relative">
    <div class="card text-center py-3 sticky-top d-flex">
        <div>
            <p><strong>Blogging as a developer, done right!</strong></p>
        </div>
        <div class="btns d-flex justify-content-center">
            <form action="{{url_for('auth.login')}}">
                <button type="submit" class="btn btn-outline-primary mx-1"><strong>Login</strong></button>
            </form>
            <form action="{{url_for('auth.register')}}">
                <button type="submit" class="btn btn-primary mx-1"><strong>Create an account</strong></button>
            </form>
        </div>
    </div>
</div>