{% extends 'base.html' %}{% block main %} {{ super() }}
{% import "bootstrap/wtf.html" as wtf %}

<div class="container">
    <div class="profile-content">
        <div class="profile-header">
            <div id="dp">
                <img src="{{url_for('static', filename=user.profile_pic_path)}}" />
            </div>
            <div id="names">
                <div id="full-name"><strong>{{user.fname}} {{user.lname}}</strong></div>
                <div id="username">@{{user.username}}</div>
                <hr>
            {% if current_user == user %}
                {{ wtf.quick_form(form) }}
            {% endif %}
            </div>
        </div>
        <div id="bio">
            <h4>Bio</h4>
            <hr />
            {%if user.bio %}
            <p>{{user.bio}}</p>
            {% else %}
            <p>No bio yet.</p>
            {% endif %}
        </div>

        <div id="email">
            <h4>Email</h4>
            <hr />
            <p>{{user.email}}</p>
        </div>

        <div id="postes">
            <h4>Posts</h4>
            <hr />
            {% for post in posts %}
            <div class="post mb-3">
                <div class="post-content my-0">
                    <strong>
                        <p><a href="{{ url_for('main.article', id=post.id)}}">{{ post.title | truncate(250) }}</a></p>
                    </strong>
                </div>
                <div class="post-footer d-flex prof-post-ftr">
                    <div class="likes me-4">
                        <i class="fas fa-thumbs-up mx-1"></i>{{post.likes.count()}}
                    </div>
                    <div class="comments">
                        <i class="fas fa-comment mx-1"></i>{{post.comments.count()}}
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
